body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* resize the image */
img {
  max-width: 100vh;
  max-height: 50vh;
}

/* positioning the delete form */
form:nth-of-type(2) {
  margin: 20px 0px 20px 0px;
}